/* ===== MainLayout ===== */
.MainLayout-Root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.MainLayout-Content {
  flex: 1;
  padding: 1.5em;
  max-width: 75em;
  margin: 0 auto;
  width: 100%;
}
